{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>ToDo</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3 shadow">
    {% csrf_token %}
    <input class="form-control" type="text" name="task" placeholder="Enter task name"><br>
    <input class="form-control" type="text" name="priority" placeholder="Enter priority"><br>
    <input class="form-control" type="date" name="date" placeholder="Enter your date"><br>
    <input class="btn btn-success" type="submit">
</form>
        </div>
        <div class="col-md-6">
            {% for i in task %}
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p><b>{{ i.priority }}</b></p>
                    <p><b>{{ i.date }}</b></p>
                    <a class="btn btn-danger" href="{% url 'todoapp:delete' i.id %}">Delete</a>
                    <a class="btn btn-success" href="{% url 'todoapp:update' i.id %}">Update</a>
                </div>
            </div><br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}